<% layout("/layouts/boilerplate.ejs")%>
<div class="row my-3">
    <div class="col-8 offset-2">
        <h3>Lisitng Details</h3>
            <img src="<%=listing.image%>" class="card-img-top show-img" alt="property listing image"></img>
            <div class="card-body show-listing">
                <b class="card-text"><%= listing.title %></b>
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">₹ <%= listing.price.toLocaleString("en-IN") %></p>
                <p class="card-text"><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p>
            </div>
            <div class="d-flex">
                <form class="w-30 me-3" action="/listings/<%=listing._id%>/edit">
                    <button class="btn btn-dark">Edit</button>
                </form>
                <form class="w-30" method="post" action="/listings/<%=listing._id%>/delete?_method=DELETE">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

